<h1><%= @title %></h1>
<p>バージョン： <%= session[:version] %></p>

<h2>記事一覧</h2>
<% if @articles.present? %>
  <% @articles.each do |article| %>
    <h4><%= article.title %></h4>
    <p><%= article.body %></p>
  <% end %>
<% else %>
  <p>記事が存在しません。</p>
<% end %>
